In [4]:
 # Dependencies
import pandas as pd
import requests

url = "https://www.iban.com/country-codes"

In [5]:
tables = pd.read_html(url)
tables

[               Country Alpha-2 code Alpha-3 code  Numeric
 0          Afghanistan           AF          AFG        4
 1        Åland Islands           AX          ALA      248
 2              Albania           AL          ALB        8
 3              Algeria           DZ          DZA       12
 4       American Samoa           AS          ASM       16
 ..                 ...          ...          ...      ...
 244  Wallis and Futuna           WF          WLF      876
 245     Western Sahara           EH          ESH      732
 246              Yemen           YE          YEM      887
 247             Zambia           ZM          ZMB      894
 248           Zimbabwe           ZW          ZWE      716

 [249 rows x 4 columns]]

In [6]:
type(tables)

list

In [7]:
df = tables[0]
df.columns = ['Country', 'Alpha2', 'Alpha3', 'Numeric']
df.head()

          Country Alpha2 Alpha3  Numeric
0     Afghanistan     AF    AFG        4
1   Åland Islands     AX    ALA      248
2         Albania     AL    ALB        8
3         Algeria     DZ    DZA       12
4  American Samoa     AS    ASM       16

In [9]:
df.to_csv('data/CountryCodes.csv')