In [25]:
 # Dependencies
import pandas as pd
import requests

#old url = "https://www.iban.com/country-codes"

In [26]:
url = "https://countrycode.org/"

In [27]:
tables = pd.read_html(url)
tables

[               COUNTRY COUNTRY CODE ISO CODES  POPULATION  AREA KM2  \
 0          Afghanistan           93  AF / AFG    29121286    647500
 1              Albania          355  AL / ALB     2986952     28748
 2              Algeria          213  DZ / DZA    34586184   2381740
 3       American Samoa        1-684  AS / ASM       57881       199
 4              Andorra          376  AD / AND       84000       468
 ..                 ...          ...       ...         ...       ...
 235  Wallis and Futuna          681  WF / WLF       16025       274
 236     Western Sahara          212  EH / ESH      273008    266000
 237              Yemen          967  YE / YEM    23495361    527970
 238             Zambia          260  ZM / ZMB    13460305    752614
 239           Zimbabwe          263  ZW / ZWE    11651858    390580

           GDP $USD
 0    20.65 Billion
 1     12.8 Billion
 2    215.7 Billion
 3    462.2 Million
 4      4.8 Billion
 ..             ...
 235            NaN
 236            NaN
 237  43.89 Billion
 238  22.24 Billion
 239  10.48 Billion

 [240 rows x 6 columns],
                COUNTRY COUNTRY CODE ISO CODES
 0          Afghanistan           93  AF / AFG
 1              Albania          355  AL / ALB
 2              Algeria          213  DZ / DZA
 3       American Samoa        1-684  AS / ASM
 4              Andorra          376  AD / AND
 ..                 ...          ...       ...
 235  Wallis and Futuna          681  WF / WLF
 236     Western Sahara          212  EH / ESH
 237              Yemen          967  YE / YEM
 238             Zambia          260  ZM / ZMB
 239           Zimbabwe          263  ZW / ZWE

 [240 rows x 3 columns]]

In [28]:
type(tables)

list

In [29]:
df = tables[0]
df.columns = ['COUNTRY', 'COUNTRYCODE', 'ISOCODES', 'POPULATION', 'AREA', 'GDP']
df.head()

          COUNTRY COUNTRYCODE  ISOCODES  POPULATION     AREA            GDP
0     Afghanistan          93  AF / AFG    29121286   647500  20.65 Billion
1         Albania         355  AL / ALB     2986952    28748   12.8 Billion
2         Algeria         213  DZ / DZA    34586184  2381740  215.7 Billion
3  American Samoa       1-684  AS / ASM       57881      199  462.2 Million
4         Andorra         376  AD / AND       84000      468    4.8 Billion

In [30]:
df[['ALPHA2','ALPHA3']] = df.ISOCODES.str.split("/",expand=True)

In [31]:
df['ALPHA2'] = df['ALPHA2'].str.strip()
df['ALPHA3'] = df['ALPHA3'].str.strip()

In [32]:
df = df[['COUNTRY', 'COUNTRYCODE', 'POPULATION', 'AREA', 'GDP', 'ALPHA2', 'ALPHA3']]

In [33]:
df.head()

,COUNTRY,COUNTRYCODE,POPULATION,AREA,GDP,ALPHA2,ALPHA3
0,Afghanistan,93,29121286,647500,20.65 Billion,AF,AFG
1,Albania,355,2986952,28748,12.8 Billion,AL,ALB
2,Algeria,213,34586184,2381740,215.7 Billion,DZ,DZA
3,American Samoa,1-684,57881,199,462.2 Million,AS,ASM
4,Andorra,376,84000,468,4.8 Billion,AD,AND

In [35]:
df.to_csv('data/CountryCodes.csv')